body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://getwallpapers.com/wallpaper/full/9/9/a/1283451-movie-wallpapers-for-desktop-1920x1080-free-download.jpg);
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: aliceblue;
}

form {
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(188, 239, 222);
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

img {
    max-width: 50px;
    max-height: 50px;
}
